*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none; 
    border: none;
}

body { 
    display: flex; 
    justify-content: center; 
    align-items: center;
    min-height: 100vh; 
    background-color: aqua
}
/* chat box style */
#Container { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#chatBox{ 
    width: 900px; 
    height: 600px; 
    overflow: hidden; 
    border-radius: 10px; 
    position: relative; 
}

/* About Salbot */
#salbot{ 
    display: flex; 
    justify-content: start;
    align-items: center; 
    height: 100px; 
    background-color: #77b3d4; 
    padding: 15px; 
}

#salbotIcon{ 
    width: 90px; 
    height: 80px; 
    border-radius: 50%;
}

#salbotInfo{ 
    color: #fff; 
    padding: 15px; 
}

#salbotInfo p { 
    color: salmon; 
    font-weight: bold; 
    font-size: 0.8em; 
}

#messages{ 
    overflow-y: auto;
}

#salbotIntro{ 
    width: 60%; 
    word-wrap: break-word; 
    background-color: salmon; 
    padding: 7px 10px; 
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
}

.salbotChatContent{ 
    width: 60%; 
    word-wrap: break-word; 
    background-color: salmon; 
    padding: 7px 10px; 
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
}

.userChatContent{ 
    width: 60%;
    word-wrap: break-word; 
    background-color: teal; 
    padding: 7px 10px; 
    border-radius: 10px 10px 0 10px; 
    margin: 5px 0 5px auto; 
}

#chatInput{ 
    display: flex; 
    align-items: center; 
    width: 100%;
    height: 65px; 
    background-color: #fff;
    padding: 15px; 
    overflow: hidden; 
    position: absolute; 
    bottom: 0;  
}

#chatInput input{ 
    width: calc(100% - 40px); 
    height: 100%; 
    background-color: #4f5d73;
    border-radius: 50px; 
    color: black;
    font-size: 1.2em; 
    padding: 0 15px;
    margin-right: 10px;
}

#sendButton { 
    width: 30px;
    height: 30px; 
    background-color: transparent; 
    overflow: hidden;
    position: relative; 
    cursor: pointer; 
    transition: 0.4s ease-in-out; 
}
#chatBtn:hover{ 
    background-color: salmon;
    padding: -10px;
}

#sendButton:active { 
    transform: scale(0.50); 
    transition-duration: 200ms; 
    /* please add to the js following to tie enter key to send button: 
    $(document).keypress(function(e){
    if (e.which == 13){
        $("#sendButton").click();
    }
    });
    */
}

#sendButton i { 
    width: 100%;
    height: 100%; 
}
