/* Universal Selector = Throughout the entire page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --babyblue: #E7F2F8;
    --aquamarine: #74BDCB;
    --salmon: #ffa384;
    --freesia: #EFE7BC;
    --light: #fff;
    --dark:#800080;  
    --online: #FF8882;
    --navy: #000080;
}

section{
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--salmon);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
}

.text-flexbox{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.learnmore-button {
    text-align: center;
    padding: 15px 30px;
    position: absolute;
    max-width: 200px;  
}

.learnmore-button:active,
.learnmore-button:hover{
    color:var(--freesia);
}

section:before{
    content:"";
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: var(--navy);
    clip-path: polygon(29% 0, 100% 0, 100% 100%, 72% 100%);
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 1.5s;
    opacity: 1;
}

section .container-fluid{
    position:relative;
    padding: 100px 50px 100px 150px;
    box-sizing: border-box;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0.5s;
    opacity: 0;
    max-height: 100%;
    max-width: 100%;
}
section .container-fluid h2{
    color:whitesmoke;
    font-size: 4em;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

section .container-fluid p{
    color:whitesmoke;
    font-size: 1rem;
    margin-right: 65px;
    padding: 20px 0 20px;
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 30px;
}

section .container-fluid a{
    position: relative;
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 30px;
    /* margin-top: 20px; the style same size now*/
    background: var(--aquamarine);
    color: var(--dark);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
}
/* Salbot image */
section .imagebox{
    position:relative;
    padding-right: 100px;
    float: right;
    flex: 1;
    max-width:40vw;
}

section .imagebox image{
    width: 200px;
    height: 200px;
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 2s;
    opacity: 0;    
}

/* Social Media Section */
.socialMedia {
    position: fixed;
    bottom: 10px;
    left: 120px;
    display: flex;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0s;
    opacity: 0;
}

.socialMedia li{
    list-style: none;
}

.socialMedia li a{
    text-decoration: none;
    color: var(--dark);
    margin-right: 30px;
    font-size:1rem;
    
}

.socialMedia li a:hover {
    color: var(--freesia)
}

/* Navigation Bar */
.nav {
    position: absolute;
    top: 10px;
    left: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 25px solid var(--aquamarine);
    padding-left: 20px;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0s;
    opacity: 0;
}

.nav li{
    margin:0;
    padding:0;
    display: flex;
    list-style: none;
}

.nav li a{
    text-decoration: none;
    color: var(--dark);
    padding: 1rem;
    display: block;
    margin-right: 30px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
}

.nav li a:active,
.nav li a:hover {
    color: var(--freesia);
}

/* Animations and Media Queries */
@keyframes left-in 
{
    0%
    {
        transform: translateX(-200px);
         opacity:0;

    }
    100%
    {
        opacity: 1;
        transform: translateX(0px);
    }

}

/* Media Queries */

@media only screen and (max-width:768px) {

    .container-fluid {
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
        flex:1;
        flex-wrap:wrap;
    }

    .text-container {
        max-width: 100%;
        max-height: 100%;
    }

    /* .text-flexbox{
        position:fixed;
        display: inline-flex;
        flex: 1;
        flex-direction: column;
    } */

    section .imagebox{
        position:relative;
        padding-right: 100px;
        flex: 1;
    }

    .nav {
        position: absolute;
        top: 10px;
        display: flex;
        /* justify-content:start;
        align-items: center; */
    }
    
    .socialMedia {
        position: absolute;
        bottom: 10px;
        left: 120px;
        display: flex;
        animation: left-in 0.5s ease-in forwards;
        animation-delay: 0s;
        opacity: 0;
    }

    /* section .imagebox image{
        width: 50%;
        height: 50%;
    } */

}


/* @media only screen and (max-width:600px) {

    .container-fluid {
        max-width: 100%;
        max-height: 100%;
    }

    .text-container {
        display: flexbox;
        max-width: 10%;
        max-height: 10%;
    }

    .text-flexbox{
        position:fixed;
        display: inline-flex;
        flex-direction: column;
    }

    section .imagebox{
        display: none;

    }

    section .imagebox image{
        max-width: 100%;
        max-height: 100%;
    }

} */